vars/
.opnsense-env
.venv/
tmp_
.github/copilot*
**/__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
opnsense_mcp/__pycache__/server.cpython-313.pyc
opnsense_mcp/tools/__pycache__/lldp.cpython-313.pyc
